{% extends 'notes/base.html' %}

{% block content %}
<div id="content", name="content" class="mainnav">
    <ul>
        <li><a href="/">
                <h3>Title 1</h3>
                <p>beginning of a note...</p>
            </a>
        </li>
        <li><a href="/">
                <h3>Title 2</h3>
                <p>beginning of a note...</p>
            </a>
        </li>
        <li><a href="/">
                <h3>Title 3</h3>
                <p>beginning of a note...</p>
            </a>
        </li>
    </ul>
</div>

<div class="main">
    <h1>Text Editor Goes Here</h1>
</div>
{% endblock %}