{% extends 'notes/base.html' %}

{% block content %}
<div id="content", name="list" class="mainnav">
    <ul>
        {% csrf_token %}
        {% for note in notes.item_set.all %}
            <li><a href="/">
                    <h3>note.title</h3>
                    <p>note.notes</p>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
        

{{ form.media }}
<div class="main">   
    <form  method="post">
        {% csrf_token %}
        {{ form.as_p  }}  
    </form>
</div> 
{% endblock %}